{% extends 'base.html.twig' %}
{% block title %}Profile{% endblock %}
{% block body %}


    {% if app.user.profile.image and app.user.profile.image.imageName %}
        <div class="card mb-4" style="width: 18rem;">
            <img class="card-img-top" src="{{ vich_uploader_asset(app.user.profile.image, 'imageFile') | imagine_filter('miniature') }}" alt="Image de profil">
        </div>
    {% endif %}

    <div class="card p-4 mb-4 w-100" style="max-width: 500px;">
        <h5 class="text-center mb-3">Changer Image</h5>
        {{ form_start(form) }}
        {{ form_row(form.imageFile) }}
        <button type="submit" class="btn btn-success mt-2">Ajouter</button>
        {{ form_end(form) }}
    </div>

    <a href="{{ path('app_profile', {id: app.user.profile.id}) }}" class="btn btn-secondary mt-2">Retour</a>

{% endblock %}