{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}

    <div class="card" style="width: 100vh;">
        {% if app.user.profile.image %}
            <div class="mb-4 text-center">
                <img src="{{ vich_uploader_asset(app.user.profile.image, 'imageFile') | imagine_filter('miniature') }}" alt="..."
                     class="img-thumbnail rounded-circle">
            </div>
        {% endif %}
        <div class="card-body">
            {% if app.user.profile.displayName %}
            <p><strong>{{ app.user.profile.displayName }}</strong></p>
            {% else %}
                {{ app.user.email }}
            {% endif %}
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                Email : {{ app.user.email }}
            </li>
            <li class="list-group-item">
                Roles :
                {% for role in user.roles %}
                {% if role == 'ROLE_USER' %}
                    <span class="badge rounded-pill text-bg-success">User</span>
                {% elseif role == 'ROLE_ADMIN' %}
                    <span class="badge rounded-pill text-bg-warning">Admin</span>
                {% endif %}
                {% endfor %}
            </li>
        </ul>
        <div class="card-body">
            <h4>Set your displayName :</h4>
            {{ form_start(form, {'action': path('app_profile', {id: app.user.profile.id}), 'method': 'POST'}) }}
            {{ form_row(form.displayName) }}
            <button type="submit" class="btn btn-primary">Edit</button>
            {{ form_end(form) }}
            <a href="{{ path('app_addImageProfile', {id: app.user.profile.id}) }}" class="card-link">Nouvelle image</a>

        </div>
    </div>

{% endblock %}
