{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}


    <ul class="list-group">
        {% for category in category %}
            <li class="list-group-item">{{ category.id }} : {{ category.name }}</li>
        {% endfor %}

    </ul>

    {{ form_start(formCategory) }}
    {{ form_row(formCategory.name) }}
    <button type="submit" class="btn btn-success">Send</button>
    {{ form_end(formCategory) }}


{% endblock %}