{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}
{% block body %}


    {{ form_start(formNew)}}
    {{ form_row(formNew.title)}}
    {{ form_row(formNew.content)}}
    {{ form_row(formNew.category) }}
    <button type="submit" class="btn btn-success">Envoyer</button>
    {{ form_end(formNew)}}

{% endblock %}