{% extends 'base.html.twig' %}

{% block body %}

    <div class="card" style="width: 18rem;">
        <div class="card-body">

            <h5 class="card-title">{{ post.title }}</h5>
            {% if app.user %}
                {% if post.author == app.user %}
                    <p>C'est toi bg</p>
                {% endif %}
            {% endif %}
            <p class="card-text">{{ post.content }}</p>
            <a href="{{ path('app_posts') }}" class="btn btn-primary">Retour</a>
            {% if app.user %}
                {% if post.author == app.user %}
                    <a href="{{ path('app_post_delete', {id:post.id}) }}" class="btn btn-danger">Supprimer</a>
                    <a href="{{ path('app_post_edit', {id:post.id}) }}" class="btn btn-warning">Modifier</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
    <div>
        <p>Add comment</p>
        {{ form_start(formComment, {'action': path('app_comment', {id:post.id}), 'method': 'POST'}) }}
        {{ form_row(formComment.content) }}
        <button type="submit" class="btn btn-success">Envoyer</button>
        {{ form_end(formComment) }}

    </div>
    <div>
        {% for comment in post.comments %}

            <div class="border-blue border">
                <p>Auteur : {{ comment.author.email }}</p>
                <p>{{ comment.content }}</p>
                {% if app.user %}
                    {% if comment.author == app.user or "ROLE_ADMIN" in app.user.roles %}

                        <a href="{{ path('app_comment_delete', {id:comment.id}) }}">Supprimer</a>
                        <a href="{{ path('app_comment_edit', {id:comment.id}) }}">edit</a>

                    {% endif %}
                {% endif %}

            </div>

        {% endfor %}
    </div>

{% endblock %}