{% extends 'base.html.twig' %}

{% block body %}

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <div id="carouselExampleFade" class="carousel slide carousel-fade">
                <div class="carousel-inner">
                    {% for img in post.images %}
                    <div class="carousel-item active">
                        <img src="{{ vich_uploader_asset(img, "imageFile") | imagine_filter('miniature') }}" class="card-img-top" alt="...">
                    </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <p>{{ post.category.name }}</p>
            <h5 class="card-title">{{ post.title }}</h5>
            {% if app.user %}
                {% if post.author == app.user %}
                    <p>C'est toi bg</p>
                {% endif %}
            {% endif %}
            <p class="card-text">{{ post.content }}</p>
            <a href="{{ path('app_posts') }}" class="btn btn-primary">Retour</a>
            {% include 'like/index.html.twig' %}
            {% if app.user %}
                {% if post.author == app.user %}
                    <a href="{{ path('app_post_delete', {id:post.id}) }}" class="btn btn-danger">Supprimer</a>
                    <a href="{{ path('app_post_edit', {id:post.id}) }}" class="btn btn-warning">Modifier</a>
                    <a href="{{ path('app_post_addimage', {id:post.id}) }}" class="btn btn-secondary">Ajouter image</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
    <div>
        <p>Add comment</p>
        {{ form_start(formComment, {'action': path('app_comment', {id:post.id}), 'method': 'POST'}) }}
        {{ form_row(formComment.content) }}
        <button type="submit" class="btn btn-success">Envoyer</button>
        {{ form_end(formComment) }}

    </div>
    <div>
        {% for comment in post.comments %}

            <div class="border-blue border">
                <p>Auteur : {{ comment.author.email }}</p>
                <p>{{ comment.content }}</p>
                {% include 'like/like.html.twig' %}
                {% if app.user %}
                    {% if comment.author == app.user or "ROLE_ADMIN" in app.user.roles %}

                        <a href="{{ path('app_comment_delete', {id:comment.id}) }}">Supprimer</a>
                        <a href="{{ path('app_comment_edit', {id:comment.id}) }}">edit</a>

                    {% endif %}
                {% endif %}

            </div>

        {% endfor %}
    </div>

{% endblock %}